In [9]:
# list
# tuple
# dict

x = {
    'name' : "radha",
    'age' : 21,
    'sallary': 40000
}
x

{'name': 'radha', 'age': 21, 'sallary': 40000}

In [ ]:
#slicing with the indexing...
x['sallary']
x

In [11]:
x['age']

21

In [12]:
print(x["name"][1][0:3])

a

In [15]:
#slicing with the indexing...
x['sallary']

40000

In [16]:
# mutable & immutable
x['name'] = 'vikash'
x

{'name': 'vikash', 'age': 21, 'sallary': 40000}

In [29]:
x = {
    'name' : ["radha",'mohan','sohan'],
    'age' : [43,21,23] ,
    'sallary': (40000,4500),
}
x

{'name': ['radha', 'mohan', 'sohan'],
 'age': [43, 21, 23],
 'sallary': (40000, 4500)}

In [32]:
x['name'][1:3]

['mohan', 'sohan']

In [ ]:
# mutable &immutable
x['name'] = 'xyz'

In [33]:
x

{'name': ['radha', 'mohan', 'sohan'],
 'age': [43, 21, 23],
 'sallary': (40000, 4500)}

In [36]:
x = {
    'name' : ['ABC','Shobhit','Akash'],
    'age' : [34,45,56],
    'salary' : [40000 ,30]
    
}
x

{'name': ['ABC', 'Shobhit', 'Akash'],
 'age': [34, 45, 56],
 'salary': [40000, 30]}

In [37]:
x['name']

['ABC', 'Shobhit', 'Akash']

In [38]:
x['name'][1:]

['Shobhit', 'Akash']

In [39]:
x['age']

[34, 45, 56]

In [40]:
x['age'][1]

45

In [42]:
x['name'] = 4 
x

{'name': 4, 'age': [34, 45, 56], 'salary': [40000, 30]}

In [43]:
x['name']

4

In [48]:
x = {
    'name' : ["radha",'mohan','sohan'],
    'age' : (43,21,23) ,
    'sallary': (40000,4500),
}
x

{'name': ['radha', 'mohan', 'sohan'],
 'age': (43, 21, 23),
 'sallary': (40000, 4500)}

In [49]:
x['name'][1]='bhai likhna band kar bhai'
x

{'name': ['radha', 'bhai likhna band kar bhai', 'sohan'],
 'age': (43, 21, 23),
 'sallary': (40000, 4500)}

In [50]:
x['age'][2] = 45
x

TypeError: 'tuple' object does not support item assignment

In [53]:
# Let's make a Dict inside a dict..
x = {
    'name' : 'Mohan',
    'age' : 34,
    'salary':34892,
    
    'z' : {
           'number' : 123,
            'add':'UP',
        
    }
}
x

{'name': 'Mohan',
 'age': 34,
 'salary': 34892,
 0: 0,
 'z': {'number': 123, 'add': 'UP', 0: 'hello'}}

In [55]:
x = {
    'name' : 'Mohan',
    'age' : 34,
    'salary':34892,
    0:0,
    
    'z' : {
           'number' : 123,
            'add':'UP',
        0:'hello'
    }
}
x

{'name': 'Mohan',
 'age': 34,
 'salary': 34892,
 0: 0,
 'z': {'number': 123, 'add': 'UP', 0: 'hello'}}

In [57]:
x = {
    'name':'Mohan',
    'age':34,
    'salary':34987,
    0:0,
    
    'z': {
        'number' : 123,
        'add':'UP',
        0:'hello',
        '1':1,
        '1':'12367'
    }
}
x

{'name': 'Mohan',
 'age': 34,
 'salary': 34987,
 0: 0,
 'z': {'number': 123, 'add': 'UP', 0: 'hello', '1': '12367'}}

In [59]:
x['z'][0]

'hello'

In [ ]:
# update

In [63]:
print (x.update({"name":"Rajat"}))
x

None

{'name': 'Rajat',
 'age': 34,
 'salary': 34987,
 0: 0,
 'z': {'number': 123, 'add': 'UP', 0: 'hello', '1': '12367'}}

In [1]:
d1={'name':'rohit','age':40}
d1.update({'name':'mohan','age':34})
               
print(d1)

{'name': 'mohan', 'age': 34}

In [2]:
a = {
    'name':'raghav',
    'age':34,
    'job':'software engineer'
    
}
a

{'name': 'raghav', 'age': 34, 'job': 'software engineer'}

In [3]:
a.update({'name':'mohan','age':23,'job':'mechanical'})

In [4]:
a

{'name': 'mohan', 'age': 23, 'job': 'mechanical'}

In [9]:
a.update({'salary':[2,89]})

In [10]:
a

{'name': 'mohan', 'age': 23, 'job': 'mechanical', 'salary': [2, 89]}

In [28]:
a['age'] = 20
a

{'name': 'mohan', 'age': 20, 'job': 'mechanical', 'salary': [2000, 2000]}

In [29]:
x = {}
type(x)

dict

In [33]:
# single element dict...>
x = {
    'name':'mohan'
}

type(x)

dict