In [2]:
print('VIKASH TIWARI is good boy and happiness and charming personality man')

VIKASH TIWARI is good boy and happiness and charming personality man

In [3]:
print('jai shree ram')

jai shree ram

In [6]:
print("""heloo "hello" """)

heloo "hello"

In [8]:
a=int(input("first number"))
b=int(input("second number"))
c = a+b
print(c)

first number8
second number9
17

In [12]:
a=4
b=2
c=a//b
c

2

In [3]:
num = int(input("enter the number : "))
if (num%2) == 0:
    print("even")
else:
    print("odd")

enter the number : 9792
even

In [ ]:
#wap to print if n is odd, print wierd and  the range of 2-5,
# print not wierd
# if n is even and in the inclusive range of 6 to 20 print wierd
# if n is even & greater than 20 print not wierd.
 
num = 5
if num % 2 == 0:
    print("even")
elif num    
    
else:
    print("odd")